<h4><small>Diagnoses for </small><%= PatientUser.find(params[:id]).shortname() %> </h4>

<div id="existing-diagnoses">

</div>

<%= form_tag('/cabinet/doctor/diagnoses/find-by-name', :method => 'post', class: 'form-search-large', id: 'diagnoses-search' ) do %>
    <input type="text" id="diagnose-name" name="name" placeholder="Enter diagnose name">
    <a class="btn btn-primary start-search">Start searching</a>
<% end %>



<div id="diagnoses-list">
</div>

