<% @diagnoses.each do |diagnose| %>
    <div>
      <div id="<%= diagnose.id %>" class="diagnose" style="display: inline">
        <%= diagnose.code_name %>
      </div>
      <a class="btn btn-link add-link" id="<%= diagnose.id %>" style="display: inline">Добавить</a>
    </div>
<% end %>