<% @medicaments.each do |medicament| %>
    <div>
      <div id="<%= medicament.id %>" class="medicament" style="display: inline">
        <%= medicament.commercial_name %>
      </div>
      <a class="btn btn-link add-link" id="<%= medicament.id %>" style="display: inline">Add</a>
    </div>
<% end %>