<% @users.each do |u| %>
    <div class="user-info-block">
      <div class="pull-left">
        <div class="user-info" id="<%= u.id %>">
          <%= u.first_name + ' ' + u.last_name + ' (' + u.email + ')'%>
        </div>
      </div>
      <div class="pull-right">
        <a href="" class="btn btn-primary createApptnt" id="<%= u.id  %>">Выбрать</a>
      </div>
    </div>
<% end %>
