<label class="radio">
  <%= f.radio_button :value, 'false', :checked => p.metadata[:default] == 'false' %>
  Нет
</label>
<label class="radio">
  <%= f.radio_button :value, 'true', :checked => p.metadata[:default] == 'true' %>
  Да
</label>
