<h3>Пожалуйста, выберите вашего лечащего врача.</h3>
<div class="row-fluid">
  <div class="span3">
    <h4>Доступные доктора</h4>
    <ul class="unstyled">
      <% @doctors.each do |d| %>
          <li>
            <button class="btn-link show-doctor-info" type="button" data-id="<%= d.id %>"><%= d.email %></button>
          </li>
      <% end %>
    </ul>
    <h4>Ближайшие свободные доктора</h4>
    <ul class="unstyled">
      <% AppointmentEvent.coming_free.map { |e| e.attending_doctor }.uniq.each do |d| %>
          <li>
            <button class="btn-link show-doctor-info" type="button" data-id="<%= d.id %>"><%= d.email %></button>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <div id="doctor-info-box">

    </div>
  </div>
</div>