<h3>Please, select attending doctor!</h3>
<div class="row-fluid">
  <div class="span3">
    <h4>Doctors</h4>
    <ul>
      <% @doctors.each do |d| %>
          <li>
            <button class="btn show-doctor-info" type="button" data-id="<%= d.id %>"><%= d.email %></button>
          </li>
      <% end %>
    </ul>
    <h4>5 coming free doctors</h4>
    <ul>
      <% AppointmentEvent.coming_free.map { |e| e.attending_doctor }.uniq.each do |d| %>
          <li>
            <button class="btn show-doctor-info" type="button" data-id="<%= d.id %>"><%= d.email %></button>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <div id="doctor-info-box">

    </div>
  </div>
</div>