<% if !DoctorUser.current.nil? && DoctorUser.current.is_attending? %>
 <a href="<%= "/cabinet/doctor/appointments/#{DoctorUser.current.processing_appointment.id}" %>" class="btn btn-warning current-appointment" style="margin-bottom: 5px;">
  У вас сейчас прием</a>
<% end %>