<% if !DoctorUser.current.nil? && DoctorUser.current.is_attending? %>
 <a class="btn btn-warning" style="margin-bottom: 5px;">You have processing appointment</a>
<% else %>
<span class="label label-success">No processing appointments!</span>
<% end %>