<% if parameter.errors.present? %>
    <% parameter.errors.each do |e, m| %>
        <div class="alert alert-error">
          <button class="close" data-dismiss="alert">&times;</button>
          <strong><%= t m %></strong>
        </div>
    <% end %>
<% end %>