<h3>Parameters</h3>
<table class="table">
  <% @parameters.each do |p| %>
      <tr>
        <td>
          <%= link_to 'Edit', edit_cabinet_manager_parameter_path(p), :class => 'btn pull-right' %>
          <span class="label label-info"><%= p.class.name.gsub('Parameter', '').downcase %></span>
          <%= p.name %>
        </td>
      </tr>
  <% end %>
</table>