<%= form_tag({:controller => :event, :action => :new}, :class => 'form-horizontal') do %>
  <div class="control-group">
    <label class="control-label">Organizer</label>

    <div class="controls">
      <button type="button" id="select-user" class="btn">Select user</button>
      <div id="selected-user" style="padding: 8px; font-size: 18px;">

      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Category</label>

    <div class="controls">
      <select name="event[category]" id="category">
        <% Event.categories.each do |c| %>
            <option value="<%= c %>"><%= t "event.categories.#{c}" %></option>
        <% end %>
      </select>
    </div>
  </div>
    <div class="control-group">
      <label class="control-label">Whole day?</label>

      <div class="controls">
        <input type="checkbox" id="whole_day" name="whole_day" checked="checked">
      </div>
    </div>
  <div class="control-group">
    <label class="control-label">Date start</label>

    <div class="controls">
      <input type="text" name="event[date_start]" id="date_start" class="datepicker" placeholder="date">
      <input type="text" name="event[time_start]" id="time_start" class="timepicker" placeholder="time" style="display: none;">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Date end</label>

    <div class="controls">
      <input type="text" name="event[date_end]" id="date_end" class="datepicker" placeholder="date">
      <input type="text" name="event[time_end]" id="time_end" class="timepicker" placeholder="time" style="display: none;">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Summary</label>

    <div class="controls">
      <input type="text" name="event[summary]" id="summary" placeholder="summary">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Description</label>

    <div class="controls">
      <textarea name="event[description]" id="description" placeholder="description"></textarea>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Create</button>
  </div>
<% end %>

<div class="modal hide fade" id="modal-select-user">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Select user</h3>
  </div>
  <div class="modal-body">
    <%= form_tag({:controller => :event, :action => :find}, :class => 'form-search-large', :id => 'user-search-form') do %>
        <input type="text" id="name" name="name" placeholder="Enter user name">
    <% end %>
    <div id="user-list">

    </div>
  </div>
</div>