<h4>Doc's list</h4>
<!--form a table header-->

<table class="table">
<tr><th>Date</th>
<th>Event Summay</th>
<th>Doctor record</th></tr>

<% Document.where(user_id: User.current.id).each do |doc| %>
	<!--Form a table row-->
	<tr>
		<td><%= link_to(doc.created_at.strftime("%v"), cabinet_doctor_document_path(doc.id)) %></td>
		<td><%= Event.find(doc.event_id).summary  %></td>
		<td><%= doc.record %></td>
	</tr>
	<% end %>
</table>
