<table class="table">
  <tr>
    <th>Дата</th>
    <th>Значение</th>
  </tr>
  <% @data.each do |d| %>
      <tr>
        <td><%= l d.created_at, :format => :long %></td>
        <td><%= d.value %></td>
      </tr>
  <% end %>
</table>