<div class="control-group">
  <label class="control-label">Day of month</label>

  <div class="controls">
    <select name="rule[month_days]">
      <option>None</option>
      <% (1..31).each do |d| %>
          <option value="<%= d %>"><%= d %></option>
      <% end %>
    </select>
  </div>
</div>