<div class="control-group">
  <label class="control-label">Week day</label>

  <div class="controls">
    <select name="rule[week_days]">
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
  </div>
</div>