<table class="table">
  <tr>
    <th>#</th>
    <th>Information</th>
    <th>Operations</th>
  </tr>
  <% @bids.each do |b| %>
  <tr>
    <td>
      <%= b.id %>
      <%= status_label b %>
    </td>
    <td><%= b.information %></td>
    <td><%= link_to 'See', cabinet_manager_bid_path(b), :class => 'btn' %></td>
  </tr>
  <% end %>
</table>
