<% if @a.is_processing? %>
    <a id="<%= @a.id  %>" class="btn btn-success stop-appointment">Считать данный прием оконченным</a>
<% else %>
    <a id="<%= @a.id %>" class="btn btn-warning start-appointment">Начать прием</a>
<% end %>