<h3>Поиск пациента для назначения на прием:</h3>
<strong>Please, enter patient name: <small>(now search is available by email only)</small></strong>
<%= form_tag({:controller => :'/cabinet/doctor/user', :action => :find_for_set}, :class => 'form-search-large', :id => 'user-main-search-form') do %>
    <input type="text" id="name" name="name" placeholder="Enter user name">
<% end %>
<div id="user-main-list">

</div>
<div id="appointment-form-place">

</div>