<%= link_to_prev(@id, @date) %>
<%= link_to_next(@id, @date) %>
<ul class="unstyled">
  <% @appointments.each do |a| %>
      <li>
        <button class="btn btn-link subscribe-appointment" data-id="<%= a.id %>"><%= "#{a.date_start} - #{a.date_end} (#{a.status})" %></button>
      </li>
  <% end %>
</ul>