<div class="span3" id="toolbar">
  <ul class="unstyled">
    <li>
      <button class="btn" id="my-doctor" data-id="<%= User.current.doctor_user.id %>">Выбрать моего доктора</button>
    </li>
    <li>
      <button class="btn" id="doctor-selector">Выбрать другого доктора</button>
    </li>
    <li>
      <button class="btn hide" id="use-doctor"></button>
    </li>
  </ul>
</div>
<div class="span9">
  <div id="result"></div>
</div>
<div class="modal hide fade" id="subscribe-result">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Subscribe</h3>
    </div>
    <div class="modal-body">

    </div>
</div>