<h3>Вы присоединились в событию</h3>
<p>Дата начала: <%= l @event.date_start, :format => :long %></p>
<p>Дата окончания: <%= l @event.date_end, :format => :long %></p>

<p>Участники:</p>
<ul>
  <% @event.attendees.each do |a| %>
      <li><%= a.user.shortname %> (<%= a.user.email %>)</li>
  <% end %>
</ul>