<tr>
    <td><%= p.id %></td>
    <td><a href="/user/profile/<%= p.id %>"><%= p.first_name %></a></td>
    <td><%= p.last_name %></td>
    <td><i class="icon-eye-open"></i><a href="/cabinet/doctor/appointment/me/<%= p.id %>" class="appointment-me">Прием</a> &nbsp
    <i class=" icon-user"></i><a href="/cabinet/doctor/appointment/colleague/<%= p.id %>" class="appointment-coll">коллеге</a> &nbsp
    <i class="icon-pencil"></i><a href="/cabinet/doctor/appointment/new/<%= p.id %>" class="appointment-new">Новый прием</a>
    <i class="icon-ok"></i><a href="/cabinet/doctor/diagnostic/<%= p.id %>" class="diagnostic">Диагностика</a>
    <i class=" icon-list-alt"><a href="/cabinet/doctor/diagnoses/patient/<%= p.id %>" class="diagnoses">Диагнозы</a></i></td>
</tr>